<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ul>
    <li><a [routerLink]="['/gatos']" >Gatos!</a></li>
    <li><a [routerLink]="['/perros']">Perros</a></li>
    <li><a [routerLink]="['/aguilas']">Aguilas</a></li>

  </ul>
  <router-outlet></router-outlet>
</div>
